/*Site*/
.page{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: auto;
    background-color:darkgray;
    overflow-x: hidden;
}

/*Header*/
.header{
    box-sizing: border-box;
    text-align: center;
    background-color: gray;
    margin-top: -2.5%;
}
.headline{
    font-family: 'Courier New', Courier, monospace;
    font-size:4em;
    padding-top: 0.5%;
    margin-left: 10px;
}

/*Main Page*/
.main{
    box-sizing: border-box;
    max-width: 297mm;
    width: 297mm;
    max-height: 420mm;
    height: 240mm;
    margin: auto;
    margin-top: -2%;
    margin-bottom: -0.5%;
    background-color: lightgray;
    overflow: hidden;
    padding: 2.5%;
    text-align: center;
}
.mainline{
    font-size:65px;
    text-align: center;
}
.rock{
    margin-right: 33%;

}
.paper{
    margin: auto;
}
.scissor{
    margin-left: 33%;
}

/*Footer*/
.footer{
    box-sizing: border-box;
    text-align: center;
    background-color: gray;
    margin-top:2%;
    padding: 0.5%;
}
.inc{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size:0.9em;
    letter-spacing: -0.2%;
}

/*R.P.S*/

#rulesbutton{
    padding: 1.2%;
    border-radius: 30%;
    font-size: 2em;
    position:absolute;
    left: 88%;
}
.displaybox{
    text-align: center;
    height: 180mm;

}
.display{
    display: inline-block;

}
.round{

}
.roundcount{
    padding-top: 1%;
    font-size: 2.5em;
}
.tallyscore{
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}
#tally{
    display: inline-block;
    position: relative;
    bottom:35%;
}
.counterbox{
    position:absolute;
}
.counter{

}
.title{
    font-size: 2em;
}
.p1{   
    position: relative;
    right: 15%;
    bottom:15%;
    max-width: 30%;
}
.p2{
    position: relative;
    left: 15%;
    bottom:15%;
    max-width: 30%;
}
.placeholder{
    border-style: solid;
    border-width: 0.2em;
    max-width: 80%;
}
.start{
    margin-top: 3%;

}
.startbutton{
    max-width: 30%;
}
#interface{
    margin-top: 5%;
    display: none;
}
.interfacebutton{
    max-width:60%;
    border-style: solid;
    border-width: 0.1em;
    scale: 5.5;
    padding: 0.2%;
    margin:6%;

}
/*rules*/
#rules{
    margin: auto;
    max-width: 70%;
}